<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

#Options -MultiViews -Indexes
#RewriteEngine On
## Handle Authorization Header
#RewriteCond %{HTTP:Authorization} .
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
## Redirect Trailing Slashes If Not A Folder...
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} (.+)/$
#RewriteRule ^ %1 [L,R=301]
## Handle Front Controller...
#RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [L]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/public/
#RewriteRule ^(css|js|images)/(.*)$ public/$1/$2 [L,NC]

#
#<IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteRule ^(.*)$ public/$1 [L]
#</IfModule>

#<IfModule mod_rewrite.c>
## That was ONLY to protect you from 500 errors
## if your server did not have mod_rewrite enabled
#
#RewriteEngine On
## RewriteBase /
## NOT needed unless you're using mod_alias to redirect
#
##RewriteCond %{REQUEST_URI} !/public
#RewriteRule ^(.*)$ public/$1 [L]
## Direct all requests to /public folder
#
#</IfModule>

#<IfModule mod_rewrite.c>
#
#<IfModule mod_negotiation.c>
#Options -MultiViews
#</IfModule>
#
#RewriteEngine On
## Prevent direct access to the "public" folder - redirect to root
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /public/
#RewriteRule ^public/(.*) /$1 [R=302,L]
#
## Redirect Trailing Slashes If Not A Folder...
## - but look for the file in the "public" folder
## (ensure we are not already in the "public" folder)
#RewriteCond %{REQUEST_URI} !^/public/
#RewriteCond %{DOCUMENT_ROOT}/public/$1 !-d
#RewriteRule ^(.*)/$ /$1 [R=302,L]
#
## Rewrite "everything" to the "public" subdirectory if not already
## This ignores existing files/dirs in the document root
#RewriteCond %{REQUEST_URI} ^/(.*)
#RewriteRule !^public/ public/%1
#
## Handle Front Controller... (as before)
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [L]
#</IfModule>
