//Colors for the template
$secondaryColor: #eeeeee;

.hero {
    width: 100%;
    float: left;
}

.nav-item {
    & {
        .active {
            background-color: transparent;
            font-weight: bold;
        }
    }
}
